@import "tailwindcss";

@theme {
  /* Colors */
  --color-neutral-900: hsl(243, 96%, 9%);
  --color-neutral-800: hsl(243, 27%, 20%);
  --color-neutral-700: hsl(243, 23%, 24%);
  --color-neutral-600: hsl(243, 23%, 30%);
  --color-neutral-300: hsl(240, 6%, 70%);
  --color-neutral-200: hsl(250, 6%, 84%);
  --color-neutral-0: hsl(0, 0%, 100%);
  --color-orange-500: hsl(28, 100%, 52%);
  --color-blue-500: hsl(233, 67%, 56%);
  --color-blue-700: hsl(248, 70%, 36%);
  /* Fonts */
  --text-300: 0.875rem;
  --text-400: 1rem;
  --text-500: 1.125rem;
  --text-600: 1.25rem;
  --text-600--line-height: 1.2;
  --text-700: 1.75rem;
  --text-800: 2rem;
  --text-800--line-height: 1;
  --text-900: 3.25rem;
  --text-1000: 6rem;
  --text-1000--line-height: 1;
  --text-1000--letter-spacing: -2px;
  /* Radius */
  --radius-*: initial;
  --radius-0: 0;
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-10: 10px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-20: 20px;
  --radius-24: 24px;
  --radius-full: 999px;
  /* Spacing */
  --spacing-34: 8.75rem;
  /* Breakpoints */
  --breakpoint-tn: 22rem;
  --breakpoint-xl: 76.5rem;
  /* Box Shadow */
  --shadow-lg: 0 8px 16px rgba(2, 1, 44, 32%);
  --my-shadow-button: 0 0 0 3px var(--color-neutral-900),
    0 0 0 5px var(--color-blue-500);
  --my-shadow-input: 0 0 0 3px var(--color-neutral-900),
    0 0 0 5px var(--color-neutral-0);
  --my-shadow-menu-button: 0 0 0 3px var(--color-neutral-900),
    0 0 0 5px var(--color-neutral-0);
  --my-shadow-menu-item: 0 0 0 1px var(--color-neutral-900),
    0 0 0 2px var(--color-neutral-0);
  /* Grid */
  --my-grid-cols-info: repeat(auto-fit, minmax(9.125rem, 1fr));
  --my-grid-cols-daily: repeat(auto-fit, minmax(5.25rem, 1fr));
}

.list-box {
  display: block;
  width: unset;
  max-height: inherit;
  min-height: unset;
  border: none;
}
